.footer {
	position: relative;
	padding: 1px 0;

	&__bg {
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: -1;

		// &:before {
		// 	position: absolute;
		// 	content: '';
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 150px;
		// 	z-index: 2;
		
		// 	background: -moz-linear-gradient(top,  rgba(237,239,238,1) 0%, rgba(0,0,0,0) 100%); 
		// 	background: -webkit-linear-gradient(top,  rgba(237,239,238,1) 0%,rgba(0,0,0,0) 100%); 
		// 	background: linear-gradient(to bottom,  rgba(237,239,238,1) 0%,rgba(0,0,0,0) 100%); 
		// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefee', endColorstr='#00000000',GradientType=0 ); 
			
		// }

		& img {
			object-position: top;
		}
	}
}


.footer {
	padding-top: 250px;
	&__title {
		color: #31444b;
		font-family: "3satHurme-SemiBold", sans-serif;
		font-size: 54px;
		font-weight: 400;
		line-height: 1.2em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 4.05px;
		max-width: 611px;
		margin: 156px auto 205px;

		@media (max-width: $md3+px) {
			font-size: 32px;
			margin: 90px auto 150px;
		}

		@media (max-width: $md4+px) {
			font-size: 24px;
		}
	}

	&__content {}
	&__row {
		&_1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #fff;
			flex-wrap: wrap;
			margin-bottom: 35px;

			@media (max-width: $md4+px) {
				flex-direction: column;
			}
		}
		&_2 {
			display: flex;
			flex-wrap: wrap;

			@media (max-width: 575px) {
				justify-content: center;
			}
		}
		&_3 {}
	}
	&__logo {
		width: 100%;
		max-width: 170px;

		& img {
			width: 100%;
			margin-right: 30px;
			margin-bottom: 13px;
		}
	}
	&__btn {
		margin-bottom: 20px;

		&.btn-default {
			font-size: 13px;
			    padding: .912em 0.9em;
		}
	}
	&__column {
		flex: 1 1 auto;
		min-width: 210px;
		max-width: 280px;
		padding-right: 15px;

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
			max-width: none;
			min-width: auto;
		}

		@media (max-width: 575px) {
			flex: 0 1 100%;
			text-align: center;
			padding-right: 0;
		}

		&_1 {
			max-width: 187px;
			min-width: 150px;
		}
		&_2 {}
		&_3 {
			@media (max-width: 575px) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		&_4 {}
	}

	&__title-link {
		margin-bottom: 28px;

		@media (max-width: 575px) {
			margin-bottom: 22px;
			width: 100%;
		}

		& > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: 400;
			text-transform: capitalize;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__social-link {
		margin-bottom: 10px;

		@media (max-width: 575px) {
			margin: 0 10px 0;
			min-width: 49px;
		}
		&_mail {
			& > a {
				&:hover {
					text-decoration: none !important;
					cursor: auto;
				}
			}
		}
		&:last-child {
			margin-bottom: 22px;
		}
		& > a {
			display: inline-flex;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			align-items: center;

			@media (max-width: 575px) {
				flex-direction: column;
			}

			&:hover {
				text-decoration: underline;
			}

			& > span {
				max-width: 20px;
				flex: 0 0 20px;
				margin-right: 23px;

				@media (max-width: 575px) {
					margin-right: 0;
					margin-bottom: 5px;
				}


				& img {
					width: 100%;
				}
			}
		}
	}
	&__payment-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;


		@media (max-width: 575px) {
			justify-content: center;
		}
	}
	&__visa {
		display: inline-block;
		flex: 0 1 41px;
		margin-right: 29px;
		margin-bottom: 10px;

		&:nth-child(2) {
			flex: 0 1 39px;
		}
		&:nth-child(3) {
			flex: 0 1 78px;
		}

		& img {
			width: 100%;
		}
	}
	&__mastercard {
		display: inline-block;
		flex: 0 1 39px;
		margin-right: 29px;
		margin-bottom: 10px;

		& img {
			width: 100%;
		}
	}
	&__paypal {
		display: inline-block;
		flex: 0 1 78px;
		margin-bottom: 10px;

		& img {
			width: 100%;
		}
	}

	&__copy {
		text-align: center;
		margin: 36px 0;
		color: #ffffff;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.1em;
	}
}


.footer.mirjam_footer {
	min-height: 550px;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	text-align: center;

	& .container {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		width: 100%;
	}

	& .footer__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: center;
	}

	& .footer__row_2 {
		display: block;
		margin: 80px 0;

		@media (max-width: $md3+px) {
			margin: 50px 0;
		}
	}

	& .footer__row_3 {
		margin-top: auto;
	}


	& h1 {
		margin-top: 0;
		color: #fff;
		font-family: $titleFontFamily;
		font-size: 46px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;
		position: relative;

		@media (max-width: 525px) {
			font-size: 36px
		}
	}

	& h2 {
		margin-top: 0;
		color: #fff;
		font-family: $titleFontFamily;
		font-size: 36px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;
		position: relative;

		@media (max-width: 525px) {
			font-size: 30px
		}

	}
	& h3 {
		margin-top: 0;
		color: #fff;
		font-family: "3satHurme-SemiBold", sans-serif;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;

		@media (max-width: 525px) {
			font-size: 24px;
		}
	}
	& h4 {
		margin-top: 0;
		color: #fff;
		font-family: "3satHurme-SemiBold", sans-serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;

		@media (max-width: 525px) {
			font-size: 18px;
		}
	}
	& h5 {
		margin-top: 0;
		color: #fff;
		font-family: "3satHurme-SemiBold", sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;

		@media (max-width: 525px) {
			font-size: 16px;
		}
	}
	& h6 {
		margin-top: 0;
		color: #fff;
		font-family: "3satHurme-SemiBold", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.64em;

		@media (max-width: 525px) {
			font-size: 14px;
		}
	}

	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.35em;
	margin-bottom: 1.46em;

	@media (max-width: 525px) {
		font-size: 16px;
	}

	& p {
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		line-height: 1.35em;
		margin-bottom: 1.46em;

		@media (max-width: 525px) {
			font-size: 16px;
		}

		& ~ h2 {
			margin-top: 2.03em;
		}

		& ~ h3 {
			margin-top: -0.6em;
		}
	}

	& ul {}

	& li {
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		line-height: 1.35em;

		@media (max-width: 525px) {
			font-size: 16px;
		}
	}

	& a {
		color: #1781f0;
	}

	& ol {}

	& figure {
		display: block;
		text-align: center;
		margin: 20px 0 30px;
		& img {
			max-width: 100%;
		}
	}
}