body.webp {
	& .home__content {
		&:before{
			background: url('../img/home/pattern_2.webp') center no-repeat;
			background-size: contain;
		}

		&:after{
			background: url('../img/home/pattern_1.webp') center no-repeat;
			background-size: contain;
		}
	}
}

.home {
	&__content {
		margin-bottom: 83px;
		position: relative;
		z-index: 10;
		/*background: url('../img/home/content-decor.png') center no-repeat;
		background-size: auto 100%;*/

		& .container {
			position: relative;
			&:before{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				height: 100%;
				width: 30%;
				z-index: -1;
				background: url('../img/home/pattern_2.png') center no-repeat;
				background-size: cover;

				@media (max-width: $md3+px) {
					background-size: contain;
					width: 100%;
				}
			}

			&:after{
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				height: 100%;
				width: 30%;
				z-index: -1;
				background: url('../img/home/pattern_1.png') center no-repeat;
				background-size: cover;

				@media (max-width: $md3+px) {
					background-size: contain;
					width: 100%;
					display: none;
				}
			}
		}
	}
	&__text-block {}
}

.hero {
	position: relative;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__body {
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 22px;

		@media (max-width: $md3+px) {
			min-height: 300px;
		}
	}

	&__logo {
		display: inline-block;
		width: 100%;
		max-width: 328px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 19px;

		& img {
			width: 100%;
		}

		& ~ .hero__title {
			font-family: "3satHurme-SemiBold", sans-serif;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0.4px;
		}
	}

	&__title {
		font-family: $mainFontFamily;
		color: #d19676;
		font-size: 32px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 56px;
		margin-top: 0;

		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}


		& > span {
			color: #fff;
		}
	}
	&__btn {}
}


.products-category {
	font-size: 10px;
	padding: 6.8em 0 6.8em;
	color: #496f3b;
	margin-bottom: 22px;

/*	@media (max-width: $md2+px) {
		font-size: 8px;
	}*/

	@media (max-width: $md3+px) {
		padding: 0 0 3em;
	}

	& > .container {
		& > p {
			font-family: "3satHurme-SemiBold", sans-serif;
			text-align: center;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 70px;
			line-height: 1.7em;
			color: rgba(#000, 0.5);

			@media (max-width: $md3+px) {
				font-size: 16px;
				margin-bottom: 0;
			}
		}
	}

	&__list {
		display: flex;
		margin: 0 -1.5em;

		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}

		& > li {
			flex: 0 1 33.333%;
			padding: 0 1.5em;

			@media (max-width: $md3+px) {
				flex: 0 1 100%;

				&:nth-child(even) {
					background: rgba(62, 101, 99, 0.1);
				}
			}
		}
	}
	&__item {
		display: flex;
		height: 100%;
		flex-direction: column;
		text-align: center;
		padding-bottom: 5.3em;
		position: relative;

		@media (max-width: $md3+px) {
			padding: 2em 0 2em;
		}

		@media (min-width: 992px) {
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		&.active {
			&:before {
				width: 100%;
			}
		}

		&:before {
			position: absolute;
			content: '';
			bottom: 0;
			width: 0%;
			height: 3px;
			background-color: #d19676;
			transition: all .2s ease;
			left: 50%;
			transform: translate(-50%, 100%);

			@media (max-width: $md3+px) {
				display: none;
			}

		}
	}
	&__img {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;

		& img {
			max-height: 100%;
			max-width: 100%;
		}

		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__title {
		font-size: 1.4em;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.6em;
			color: #496f3b;
		& > span {
			font-family: "Luxia-Display", sans-serif;
			font-size: 1.428em;
			font-weight: 400;
			line-height: 1.6em;
			display: block;
			text-transform: none;
		}
	}
	&__hr {
		height: 3px;
		width: 100%;
		background-color: #f5e7df;

		@media (max-width: $md3+px) {
			display: none;
		}
	}
}

.home {
	
}

.home-text-block {
	&__title {
		margin-bottom: 91px;

		@media (max-width: $md3+px) {
			text-align: center;
			margin-bottom: 50px;
		}
	}
	&__items {
	}
	&__item {
		display: flex;
		margin-bottom: 60px;
		&:nth-child(even) {
			flex-direction: row-reverse;

			& .home-text-block__text {
				padding-right: 0;
				padding-left: 50px;
				text-align: right;
			}
		}

		@media (max-width: $md3+px) {
			display: block;
			margin-bottom: 80px;
		}
	}
	&__text {
		flex: 0 1 51%;
		padding: 32px 50px 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 324px;
		color: #496f3b;
		font-size: 22px;
		font-weight: 300;
		line-height: 1.37em;

		@media (max-width: $md3+px) {
			min-height: auto;
			padding: 0 0 20px !important;
			text-align: center !important;
			font-size: 18px;
		}

		& strong {
			font-family: "3satHurme-SemiBold", sans-serif;
			font-weight: 400;
		}

		& p {
			margin-bottom: 0.68em;
		}
	}
	&__img {
		flex: 0 1 49%;

		@media (max-width: $md3+px) {
			padding-bottom: 55%;
		}
	}
}

















.application {
	position: relative;
	z-index: 50;
	margin-bottom: 33px;
	padding: 48px 0 0;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edefee+0,edefee+17,edefee+33,c9c9c9+67,bcbcbc+83,afafaf+100 */
	background: rgb(237,239,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,239,238,1) 0%, rgba(237,239,238,1) 17%, rgba(237,239,238,1) 33%, rgba(201,201,201,1) 67%, rgba(188,188,188,1) 83%, rgba(175,175,175,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(237,239,238,1) 0%,rgba(237,239,238,1) 17%,rgba(237,239,238,1) 33%,rgba(201,201,201,1) 67%,rgba(188,188,188,1) 83%,rgba(175,175,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(237,239,238,1) 0%,rgba(237,239,238,1) 17%,rgba(237,239,238,1) 33%,rgba(201,201,201,1) 67%,rgba(188,188,188,1) 83%,rgba(175,175,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefee', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */


	&__title {
		margin-bottom: 65px;

		@media (max-width: $md3+px) {
			margin-bottom: 50px;
			text-align: center;
		}
	}
	&__body {
		position: relative;
		z-index: 2;

		& .container {
			max-width: 1218px;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: none;
		& img {
			@media (max-width: $md3+px) {
				object-position: left;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 40px 0 27px;
		margin: 0 -10px;

		@media (max-width: $md2+px) {
			justify-content: center;
		}

		& > li {
			padding: 0 10px;
			flex: 0 1 16.666%;

			@media (max-width: $md2+px) {
				flex: 0 1 33.333%;
			}


			@media (max-width: 1510px) {
				&:first-child {
					& .application__tooltip {
						left: 0%;
						transform: translate(0%, -110%);
					}

					& .application__tooltip-bottom {
						background-position: 16% 0;
					}
					& .application__item {
						@media (min-width: 992px) {
							&:hover {

								& .application__tooltip {
									transform: translate(0%, -100%);
								}
							}
						}
					}	

				}

				&:last-child {
					& .application__tooltip {
						left: auto;
						right: 0;
						transform: translate(0%, -110%);
					}

					& .application__tooltip-bottom {
						background-position: 84% 0;
					}

					& .application__item {
						@media (min-width: 992px) {
							&:hover {

								& .application__tooltip {
									transform: translate(0%, -100%);
								}
							}
						}
					}	
				}
			}

		}
	}
	&__item {
		display: block;
		color: #fff;
		text-align: center;
		position: relative;

		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}


			&:hover {

				& .application__item-title {
					&:after {
						width: 100%;
					}
				}

				& .application__tooltip {
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, -100%);
				}
			}
		

		&.show-tooltip {
			& .application__tooltip {
				visibility: visible;
				opacity: 1;
				transform: translate(-50%, -100%);
			}
		}
	}
	&__icon {
		height: 78px;
		margin-bottom: 20px;

		& img {
			height: 100%;
		}

		@media (max-width: $md3+px) {
			height: 48px;
			margin-bottom: 10px;
		}

		@media (max-width: $md4+px) {
			height: 40px;
		}
	}
	&__item-title {
		color: #ffffff;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.1em;
		position: relative;
		display: inline-block;

		@media (max-width: $md3+px) {
			font-size: 16px;
		}

		@media (max-width: $md4+px) {
			font-size: 12px;
		}

		&:after {
			position: absolute;
			content: '';
			left: 50%;
			transform: translateX(-50%);
			bottom: -2px;
			height: 1px;
			width: 0;
			background: #fff;
			transition: all .2s ease;
		}
	}

	&__tooltip {
		visibility: hidden;
		opacity: 0;
		transition: all .3s ease;
		text-align: left;
		position: absolute;
		top: 0;
		left: 50%;
		width: 300%;
		transform: translate(-50%, -110%);
		max-width: 524px;

		@media (max-width: $md2+px) {
			max-width: 424px;
			width: 100%;
			font-size: 14px;
			letter-spacing: 0.35px;

			&-top {
				padding: 15px 18px;
			}
			&-bottom {
				margin-top: -1px;
				height: 39px;
				background-position: 50% -0 !important;
			}
		}

		@media (max-width: $md4+px) {
			font-size: 12px;
			letter-spacing: 0.35px;

			&-top {
				padding: 10px 14px;
			}
			&-bottom {
				margin-top: -1px;
				height: 29px;
				background-position: 50% -0 !important;
			}
		}


		&-top {
			padding: 30px 41px;
			background: url('../img/home/application/tooltip_top.png') center no-repeat;
			background-color: transparent;
			background-size: cover;
			box-shadow: 12px 14px 21px rgba(17, 21, 19, 0.5);
		}

		&-bottom {
			height: 49px;
			background: url('../img/home/application/tooltip_bottom.png') center no-repeat;
			background-size: contain;
			background-position: 50% 0;
		}

		z-index: 5;
		color: #edefee;
		font-size: 19px;
		font-weight: 300;
		letter-spacing: 1.35px;

		& strong {
			font-weight: 700;
		}

	}
}













.slider {
	padding: 51px 0;
	margin-bottom: 35px;

	// @media (max-width: $md3+px) {
	// 	position: relative;
	// 	height: 700px;
	// }

	&.background-gray {
		background-color: #edefee;
		margin-bottom: 0;
		padding-bottom: 24px;

		& .slider__title {
			margin-bottom: 44px;
		}
	}

	& .swiper-container {
		margin: 0 -15px;
		padding: 0 15px;

		@media (max-width: $md3+px) {
			 height: 900px;
			 padding: 0;
			 margin: 0;
		}

		@media (max-width: $md4+px) {
				 height: 700px;
		}
	}

	& .swiper-slide {
		height: auto;

		@media (max-width: $md3+px) {
			height: calc((100% - 60px) / 2);
			margin-bottom: 20px;
		}
	}


	&__title {
		margin-bottom: 57px;
		color: #496f3b;
		font-size: 32px;
		font-weight: 400;
		line-height: 1.1em;

		@media (max-width: $md3+px) {
			font-size: 28px;
			margin-bottom: 50px;
			text-align: center;
		}

	}

	&__btn {
		position: absolute;
		z-index: 5;
		top: 50%;
		transform: translateY(-108%);
		height: 30px;
		width: 30px;
		background: #fff;
		box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		transition: all .2s ease;

		@media (min-width: 992px) {
			&:hover {
				box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.2);
			}
		}

		@media (max-width: $md4+px) {
			top: 52%;
		}

		& > span {
			width: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				width: 100%;
			}
		}
	}
	&__btn-next {
		right: 2px;


	}
	&__btn-prev {
		left: 2px;

		& > span {
			& img {
				transform: rotate(180deg);
			}
		}
	}
}


.swiper-container {
}
.swiper-wrapper {
}

.product-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__inner {
		padding: 31px 15px 25px;
		background-color: #edefee;
		text-align: center;
		flex: 1 1 auto;
	}
	&__img {
		height: 212px;
		text-align: center;
		margin-bottom: 6px;
		display: block;

		& img {
			max-height: 100%;
			max-width: 100%;
		}

		@media (max-width: $md3+px) {
			height: 120px;
		}

		@media (max-width: $md4+px) {
			height: 100px;
		}
	}
	&__title {
		color: #496f3b;
		font-family: $titleFontFamily;
		font-size: 22px;
		font-weight: 400;
		line-height: 1.1em;
		margin-bottom: 0.54em;

		& > a {
			color: #496f3b;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	&__text {
		color: #525252;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0 auto;
		max-width: 220px;

		& > a {
			color: #525252;
		}

		@media (max-width: $md4+px) {
			font-size: 9px;
		}

	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	&__btn {
		display: inline-flex;
		color: #496f3b;
		font-family: $titleFontFamily;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.0425em;
		position: relative;
		margin-right: 1.25em;
		padding: 0.875em 0 2px;
		flex: 0 0 auto;
		align-items: center;

		@media (max-width: $md4+px) {
			font-size: 12px;
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}

		&:before {
			position: absolute;
			content: '';
			bottom: -1px;
			left: 50%;
			height: 2px;
			background: #496f3b;
			width: 0%;
			transition: all .2s ease;
			transform: translateX(-50%);
		}

		& span {
			width: 1.125em;
			margin-left: 1.125em;

			& img {
				width: 100%;
			}
		}
	}
	&__price {
		flex: 0 0 auto;
		color: #496f3b;
		font-family: "MyriadPro", sans-serif;
		font-size: 19px;
		font-weight: 400;
		padding: 0.73em 0 2px;

		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}
}



















.benefit {
	padding: 79px 0 86px;

	@media (max-width: $md3+px) {
		padding-bottom: 0;
	}

	position: relative;
	z-index: 52;
	background-color: #edefee;
	& .container {
		position: relative;

		&:before {
			position: absolute;
			content: '';
			top: -79px;
			right: 0;
			width: 27%;
			padding-bottom: 14%;
			background: url('../img/benefit/bg-decor.png') top center no-repeat;
			background-size: auto 100%;
		}
	}

	&__title {
		margin-bottom: 28px;
		max-width: 402px;

		@media (max-width: $md3+px) {
			margin-bottom: 15px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 15px 0 27px;
		margin: 0 -60px;

		@media (max-width: 1160px) {
					margin: 0 -10px;
		}

		@media (max-width: $md2+px) {
			justify-content: center;
		}

		& > li {
			padding: 0 10px;
			flex: 0 1 20%;

			@media (max-width: $md2+px) {
				flex: 0 1 33.333%;
			}

			@media (max-width: $md3+px) {
				flex: 0 1 50%;
			}

			@media (max-width: 1510px) {
				&:first-child {
					& .benefit__tooltip {
						left: 0%;
						transform: translate(0%, 110%);
					}

					& .benefit__tooltip-top {
						background-position: 28% 0;
					}
					& .benefit__item {
						@media (min-width: 992px) {
							&:hover {

								& .application__tooltip {
									transform: translate(0%, 100%);
								}
							}
						}
					}	

				}

				&:last-child {
					& .benefit__tooltip {
						left: auto;
						right: 0;
						transform: translate(0%, 110%);
					}

					& .benefit__tooltip-top {
						background-position: 72% 0;
					}

					& .benefit__item {
						@media (min-width: 992px) {
							&:hover {

								& .benefit__tooltip {
									transform: translate(0%, 100%);
								}
							}
						}
					}	
				}
			}

		}
	}
	&__item {
		display: block;
		color: #fff;
		text-align: center;
		position: relative;

		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}


			&:hover {


				& .benefit__tooltip {
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, 100%);
				}
			}
		
	}
	&__icon {
		height: 44px;
		margin-bottom: 15px;

		& img {
			height: 100%;
		}
	}
	&__item-title {
		line-height: 1.1em;
		display: inline-block;
		color: #496f3b;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		max-width: 128px;
	}

	&__tooltip {
		visibility: hidden;
		opacity: 0;
		transition: all .3s ease;
		text-align: left;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 300%;
		transform: translate(-50%, 110%);
		max-width: 363px;
		z-index: 5;
		color: #474747;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;

		& a {
			color: #474747;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;

			&:hover {
				color: #496f3b;
			}
		}

		@media (max-width: $md2+px) {
			max-width: 300px;
			width: 100%;
			font-size: 14px;
			letter-spacing: 0.35px;

			&-top {
				margin-top: 1px;
				height: 32px;
				background-position: 50% -0 !important;
			}
			&-bottom {
				padding: 15px 18px;
			}
		}

		@media (max-width: $md4+px) {
			font-size: 12px;

			&-top {
				margin-top: -1px;
				height: 22px;
				background-position: 50% -0 !important;
			}
			&-bottom {
				padding: 10px 14px;
			}
		}


		&-top {
			height: 39px;
			background: url('../img/benefit/tooltipe-top.png') center no-repeat;
			background-size: contain;
			background-position: 50% 0;
		}

		&-bottom {
			padding: 21px 34px;
			background: #fff;
			box-shadow: 9px 11px 25px rgba(47, 66, 40, 0.15);
		}

	
		&-list {
			& > li {
				margin-bottom: 7px;

				@media (max-width: $md3+px) {
					margin-bottom: 5px;
				}

				@media (max-width: $md4+px) {
					margin-bottom: 3px;
				}
			}
		}

		& strong {
			font-weight: 700;
		}

	}
}

