//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
			min-width: 87px; 
	}
	// .select__title
	&__title {
		color: #000;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		height: 30px;
		padding: 0px 30px 0 10px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		position: relative;

		& img {
			flex: 0 0 10px;
			width: 10px;
			height: auto;
			margin-right: 2px;
			margin-top: 6px;
		}

		& img[src="undefined"] {
			display: none;
		}

		span {
			font-family: "AvenirNextCyr";

			height: 1em;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			position: absolute;
			top: 11px;
			right: 10px;
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			background: url("../img/icons/down-arrow.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		font-size: 14px;
		padding: 5px 0px 0px 0px;
	}
	// .select__option
	&__option {
		white-space: nowrap;
		font-family: "AvenirNextCyr";
		cursor: pointer;
		padding: 5px 10px;
		margin: 0px 0px 0px 0px;

		@media (min-width: 992px) {
			&:hover {
				background: #d9d9d9;
			}
		}

		& img {
			flex: 0 0 10px;
			width: 10px;
			height: auto;
			margin-right: 2px;
			margin-top: 6px;
		}

		& img[src="undefined"] {
			display: none;
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
//</SELECT>====================================================================================================
