@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================
@import "global";
// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================

//<FANCYBOX>===============================================================================================
@import "fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "swiper-bundle";
// ==== // ПЛАГИНЫ ===========================================================================================

// ==== БУРГЕР ===========================================================================================
@import "burger";
// ==== БУРГЕР ===========================================================================================

// ==== POPUP ===========================================================================================
@import "popup";
// ==== POPUP ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================



// ==== TOP LINE =====================================================
@import "#top-line";
// ==== AND TOP LINE =====================================================


// ==== HOME =====================================================
@import "#home";
// ==== AND HOME =====================================================

// ==== ABOUT US =====================================================
@import "#about-us";
// ==== AND ANDABOUT US =====================================================

// ==== SINGLE PAE =====================================================
@import "#single-page";
// ==== AND SINGLE PAE =====================================================

// ==== INFO PAGE =====================================================
@import "#info-page";
// ==== AND INFO PAGE =====================================================

// ==== PAGE 404 =====================================================
@import "#page404";
// ==== AND PAGE 404 =====================================================

// ==== SHIPPING =====================================================
@import "#shipping.scss";
// ==== AND SHIPPING =====================================================



//== COMMON BLOCKS ================

// ==== VIDEO BLOCK =====================================================
@import "##video-block";
// ==== AND VIDEO BLOCK =====================================================

//== AND COMMON BLOCKS ================

// ==== FOOTER =====================================================
@import "#footer";
// ==== AND FOOTER =====================================================


